.content {
    margin: 0.5em;
}
.github-corner {
    position: sticky;
    float: right;
    top: 56px;
    z-index: 9999;
}
#internal-config-mode-text {
    text-decoration-style: dotted;
    cursor: help;
}

@view-transition {
    navigation: auto;
}