#clock {
    font-weight: bold;
    font-feature-settings: "tnum";
    opacity: 0;
    transition: opacity 0.1s ease-in;
}

#clock.fade-in {
    opacity: 1;
}

#letter-day {
    font-weight: bold;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.1s ease-in;
}

#letter-day.fade-in {
    opacity: 1;
}

#letter-day-spinner {
    --bs-spinner-width: calc(1.375rem + 1.5vw);
    --bs-spinner-height: calc(1.375rem + 1.5vw);
}