@font-face {
    font-family: "Azeret Mono";
    font-style: normal;
    font-weight: 600;
    font-display: block;
    src: url("../fonts/AzeretMono/AzeretMono.woff2") format("woff2");
}

@font-face {
    font-family: "Comic Relief";
    font-style: normal;
    font-display: block;
    src: url("../fonts/ComicRelief/ComicRelief-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-display: block;
    src: url("../fonts/IBMPlexSans/IBMPlexSans.woff2") format("woff2");
}

@font-face {
    font-family: "Inconsolata";
    font-style: normal;
    font-display: block;
    src: url("../fonts/Inconsolata/Inconsolata.woff2") format("woff2");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-display: block;
    src: url("../fonts/Inter/Inter.woff2") format("woff2");
}

@font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-display: block;
    src: url("../fonts/JetBrainsMono/JetBrainsMono.woff2") format("woff2");
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-display: block;
    src: url("../fonts/Lato/Lato-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Lexend";
    font-style: normal;
    font-display: block;
    src: url("../fonts/Lexend/Lexend.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-display: block;
    src: url("../fonts/Montserrat/Montserrat.woff2") format("woff2");
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-display: block;
    src: url("../fonts/Nunito/Nunito.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-display: block;
    src: url("../fonts/Poppins/Poppins-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-display: block;
    src: url("../fonts/Raleway/Raleway.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto Mono";
    font-style: normal;
    font-display: block;
    src: url("../fonts/RobotoMono/RobotoMono.woff2") format("woff2");
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-display: block;
    src: url("../fonts/Rubik/Rubik.woff2") format("woff2");
}

@font-face {
    font-family: "Source Code Pro";
    font-style: normal;
    font-display: block;
    src: url("../fonts/SourceCodePro/SourceCodePro.woff2") format("woff2");
}

@font-face {
    font-family: "Space Grotesk";
    font-style: normal;
    font-display: block;
    src: url("../fonts/SpaceGrotesk/SpaceGrotesk.woff2") format("woff2");
}

@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-display: block;
    src: url("../fonts/Ubuntu/Ubuntu-Regular.woff2") format("woff2");
}

/* This font doesn't really work that well outside of the clock, so it only gets applied there */
.font-azeret-mono #clock {
    font-family: "Azeret Mono", monospace;
}

.font-azeret-mono #letter-day {
    font-family: "Azeret Mono", monospace;
}

/* This fixes the font preview on the secret settings page. The lack of a space between the selectors is intentional. */
.font-azeret-mono#font-preview {
    font-family: "Azeret Mono", monospace;
}

.font-sans-serif {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --bs-font-sans-serif: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.font-comic-relief {
    font-family: "Comic Relief", sans-serif;
    --bs-font-sans-serif: "Comic Relief", sans-serif;
}

.font-ibm-plex-sans {
    font-family: "IBM Plex Sans", sans-serif;
    --bs-font-sans-serif: "IBM Plex Sans", sans-serif;
}

.font-inconsolata {
    font-family: "Inconsolata", sans-serif;
    --bs-font-sans-serif: "Inconsolata", sans-serif;
}

.font-inter {
    font-family: Inter, sans-serif;
    --bs-font-sans-serif: Inter, sans-serif;
}


.font-jetbrains-mono {
    font-family: "JetBrains Mono", sans-serif;
    --bs-font-sans-serif: "JetBrains Mono", sans-serif;
}

.font-lato {
    font-family: Lato, sans-serif;
    --bs-font-sans-serif: Lato, sans-serif;
}

.font-lexend {
    font-family: Lexend, sans-serif;
    --bs-font-sans-serif: Lexend, sans-serif;
}

.font-montserrat {
    font-family: Montserrat, sans-serif;
    --bs-font-sans-serif: Montserrat, sans-serif;
}

.font-nunito {
    font-family: Nunito, sans-serif;
    --bs-font-sans-serif: Nunito, sans-serif;
}

.font-poppins {
    font-family: Poppins, sans-serif;
    --bs-font-sans-serif: Poppins, sans-serif;
}

.font-raleway {
    font-family: Raleway, sans-serif;
    --bs-font-sans-serif: Raleway, sans-serif;
}

.font-roboto-mono {
    font-family: "Roboto Mono", sans-serif;
    --bs-font-sans-serif: "Roboto Mono", sans-serif;
}

.font-rubik {
    font-family: Rubik, sans-serif;
    --bs-font-sans-serif: Rubik, sans-serif;
}

.font-source-code-pro {
    font-family: "Source Code Pro", sans-serif;
    --bs-font-sans-serif: "Source Code Pro", sans-serif;
}

.font-space-grotesk {
    font-family: "Space Grotesk", sans-serif;
    --bs-font-sans-serif: "Space Grotesk", sans-serif;
}

.font-ubuntu {
    font-family: "Ubuntu", sans-serif;
    --bs-font-sans-serif: "Ubuntu", sans-serif;
}

.font-ubuntu#font-preview span {
    display: block;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

.font-ubuntu#font-preview::after {
    content: "I hate snap packages"
}