:root {
    --selected-gradient: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 20%, var(--gradient-color) 120%);
    --gradient-color: black;
    --selected-background: black;
}

.popover {
    user-select: none;
}

/* Using the browser's default background-color is less jarring than pure black, so this is commented out
body {
    background: black;
}
*/

#background-image {
    background: var(--selected-gradient), var(--selected-background);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -9999;
    width: 100vw;
    height: 100vh;
    position: fixed;
    opacity: 0;
    transition: opacity 0.1s ease-in;
}

#background-image.fade-in {
    opacity: 1;
}

#content-element {
	width: 100vw;
}

@view-transition {
    navigation: auto;
}