:root {
    --selected-gradient: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 20%, var(--gradient-color) 120%);
    --gradient-color: black;
    --selected-background: black;
}

.popover {
    user-select: none;
}

body {
    background: var(--selected-gradient), var(--selected-background);
    background-size: cover;
    background-repeat: no-repeat;
}

#content-element {
	width: 100vw;
}