html {
    scroll-padding-top: 65px;
}

.content {
    margin: 0.5em;
}

.loading-overlay-content {
    position: fixed;
    margin: 0.5em;
}

.disabled-content {
    margin: 0.5em;
}

@view-transition {
    navigation: auto;
}