name: Create zip artifact without make-zip
run-name: Create zip artifact without make-zip
on:
  push:
    branches:
      - main
jobs:
  make-zip:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: out.zip
          path: ./src